In [1]:
a=1
b=2
c=3
print(a) #그냥 a로 해도 1이라는 결과 나옴!

1

In [3]:
a=1
a
b=2
b
c=3
c #a,b 무시하고 c 결과만 나옴

3

In [4]:
a=1
print(a)
b=2
print(b)
c=3 
print(c)

1
2
3

In [5]:
a = 1; print(type(a)) #한 줄로 쓰고 싶을 때 세미콜론

<class 'int'>

In [6]:
a=1.22; print(type(a))

<class 'float'>

In [7]:
a = 1; a = float(a); print(type(a)) #a를 float로 바꿔라 --> 1.0으로 바뀜
print(a)

<class 'float'>
1.0

In [8]:
a = 1.2; a = int(a); print(type(a)) #a를 int.로 바꿔라
print(a)

<class 'int'>
1

In [10]:
a="korea" #double quote써도 str으로 나오지만 가능한 single quote를 쓰자
print(type(a))
a[0] #가장 첫 글자가 0번째

<class 'str'>

'k'

In [ ]:
a = '123'#이 때 123은 숫자가 아니라 string
print(type(a))
print(a[1])

<class 'str'>
2

In [12]:
a = '123'
a = list(a) #a를 list 형태로 바꿔라
a

['1', '2', '3']

In [15]:
a='123'
print(type(a))
a=list(a)
print(type(a))

<class 'str'>
<class 'list'>

In [ ]:
#list: 여러 개가 들어가 있는 것
a=[1,2,3,4]; a=['ab', 'cde', 'jky'] #어떤 type(int.str.등등)이 들어와도 상관 없음

In [17]:
a = [1,'2', [3, '4']] #list 안에는 어떤 type(int.str. 등등)이 들어가도 상관 없음
print(type(a)) 
print(a[0]); print(a[1]); print(a[2])
#중요!!-list에서 n번째 출력(그냥 a[0]해도 됨)

<class 'list'>
1
2
[3, '4']

In [20]:
a = (1,'2', [3, '4'])
print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [18]:
#list와 tuple의 차이1: 괄호가 list는 [], tuple은 () 
a=[1,2,3]
a[0]=-1 #a의 0번째에 -1을 assign하라
a

[-1, 2, 3]

In [19]:
#차이2: tuple은 list와 달리 바꿀 수 없기 때문에 data적인 측면에서 안전
a=(1,2,3) 
a[0]=-1 #a의 0번째에 -1을 assign하라
a

TypeError: ignored

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014} #single quote도 가능
print(type(a))
print(a["a"]) #dict는 n번째가 아니라 표제어를 괄호 안에 넣고 : 뒤의 값이 결과로 나옴

<class 'dict'>
apple

In [22]:
print(a[1])

KeyError: ignored

In [21]:
a =	{"a": "apple", "b": "orange", "c": 2014}
a['c'] = 2021
a

{'a': 'apple', 'b': 'orange', 'c': 2021}

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]