In [3]:
s = 'abcdef' #string은 character의 결합, 
print(s[4])
print(s[0], s[5], s[-1], s[-6]) #s[-1]번째는 오른쪽에서 첫 번째
print(s[1:3], s[1:], s[:3], s[:]) #print[x:y]-x번째에서 y번째 "전"까지
print(s[1:-1]) #-1의 전은 -2까지

e
a f f a
bc bcdef abc abcdef
bcde

In [5]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])
#시험문제!!

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [8]:
len(s) #s의 length

6

In [7]:
len(n)

3

In [ ]:
s[1]+s[3]+s[4:]*10 #b+d+ef*10

'bdefefefefefefefefefef'

In [13]:
s.upper() 
#s에 있는 것을 대문자로 바꾸어서 출력, 그러나 s 자체가 대문자로 바뀌는 것은 아님!

'ABCDEF'

In [12]:
s. lower()

'abcdef'

In [47]:
s = ' this is a house built this year.\nyes' 	
print(s)

 this is a house built this year.
yes

In [38]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

In [39]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result #0 번째는 빈칸

1

In [40]:
result = s.find('that')
result #that이 없으니 -1이 출력됨

-1

In [41]:
result = s.rindex('this')   #reverse index  # like s.find(t) except it raises ValueError if not found
result

23

In [48]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s #줄바꿈, tab, 공백 등을 없애줌

'this is a house built this year.\nyes'

In [43]:
tokens = s.split(' ')	 # split s into a list wherever a t is found (whitespace by default)
 #s의 빈 칸을 찾아서 split한 뒤 list로 만들어라     
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.\nyes']

In [44]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
#token 안에 있는 단어들을 공백으로 join 시켜라
s

'this is a house built this year.\nyes'

In [45]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.\nyes'

a[] 괄호 안에 들어가는 것은 반드시 int, a[1.5]와 같은 형태 안됨,

a=['1', 2]에서 a[0] 하면 결과값이 1로 나오지만 string임!-->문자열을 print하면 따옴표 없이 출력